[submodule "pelican-plugins"]
	path = pelican-plugins
	url = git://github.com/getpelican/pelican-plugins.git
[submodule "plugins/md_meta_yaml"]
	path = plugins/md_meta_yaml
	url = https://github.com/teoric/python-markdown-yaml-meta-data
